.container form {
  margin-top: 40px;
}

form input[name="city"] {
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
  padding-left: 10px;
}

form input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

form button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 6px 20px;
  margin-left: 30px;
}